#grid {
  display: grid;
  grid-template-rows: repeat(10, 35px);
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
}
#create{
    font-size: 14px;
    background: #0e9cd6;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    width: 100px;
    
}
#info {
  display: none;
}

.listheader th {
    background: #0e9cd6;
    color: white;
    text-shadow: 0 1px 1px #2d2020;
    padding: 10px 20px;
}
table {
  font-size: 14px;
  border-radius: 5px;
  border-spacing: 0;
  text-align: center;
}
th {
    padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
th:first-child,
td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #fafafa;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
tr td:last-child {
  border-right: none;
}
