.first{
    text-align: center;
}

.tables{
    display: none;
}

.forms{
    display: none;
}

.calc_keys {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px;
    
}

.operator, .digit, .trigoperator, .clear {
    margin: 5px;
    height: 40px;
    width: 70px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #dfe1e5;
}

.operator:hover, .digit:hover, .trigoperator:hover, .clear:hover {
    box-shadow: 0 1px 4px rgba(0,0,0,0.28);
}

.digit {
    background: #f1f3f4;
}

.equal-sign {
    color: white;
    outline: none;
    background: #4285f4;
}

.clear {
    color: white;
    background: #f45555;
}

.calc_all {
    height: 40px;
    border: none;
    background-color: white;
    color: black;
    padding: 0px 10px 0px 10px;
    font-size: 18px; 
}

#typetrig {
    width: 70px;
    outline: none;
    height: 35px;
    border: none;
    align-self: center; 
}

.inputcalc {
    display: grid;
    grid-template-columns: 20px 350px 80px;
    width: 448px;
    height: 40px;
    margin: 5px 0px 5px 5px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 0px 10px 0px 10px;
    font-size: 18px;
}
#history {
    display: block;
    align-self: center;
}
